[submodule "libs/cardano-crypto"]
	path = libs/cardano-crypto
	url = https://github.com/input-output-hk/cardano-crypto.git
[submodule "libs/cryptonite"]
	path = libs/cryptonite
	url = https://github.com/haskell-crypto/cryptonite.git
