[submodule "libs/qcbor"]
	path = libs/qcbor
	url = https://github.com/laurencelundblade/QCBOR.git
[submodule "libs/viper25519"]
	path = libs/viper25519
	url = https://gitlab.com/viper-staking/viper25519
